<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BUY</title>
        <link rel="stylesheet" href="../css/Style.css">
        <style>
            .imgCar {
                max-width: 225px;
                height: 200px;
            }

            #btnAddCar {
                border: 2px solid #DDD;
                padding: 5px;
                border-radius: 5px;
            }
        </style>
    </head>
    <body class="buy with-title">
        <div class="content">
            <h1>EU cars buying</h1>
            @if (ViewBag.isAdmin != null)
            {
                if(ViewBag.isAdmin == "ok")
                {
                    <div style="display: block; margin-bottom: 30px;">
                        <a href="/Home/SellAsAdmin" id="btnAddCar">Add Car As Admin</a>
                    </div>
                }
            }

        <div style="display: block; margin-bottom: 30px;">
            <a href="/Home/SearchAsGuest" id="btnBack">Back To Search</a>
        </div>

            <div class="flex" style="justify-content: space-around">
                @foreach(var item in ViewBag.cars)
                {
                    <div class="box">
                        <div style="width: 574px; margin: 0 auto">
                            <img src="../CarImages/@item.imageFront" alt="subaru" class="imgCar" />
                            <img src="../CarImages/@item.imageBack" alt="subaru" class="imgCar" />
                        </div>
                        <ul>
                            <li>type: @item.vehicleDetails</li>
                            <li>engine: @item.vehicleEngine</li>
                            <li>km: @item.vehicleKm</li>
                            <li>price: @item.price $</li>
                        </ul>
                        <button data-id="@item.id">buy</button>
                    </div>
                }
            </div>
        </div>
    </body>
</html>